*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-image: url("https://campuspro.co.in/collage-image/1751978656_row_174.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    padding: 25px;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    color: white;
    border: 1px solid rgba(255,255,255,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.form-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

input[type="text"],
input[type="date"]{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.gender-box{
    display:flex;
    align-items:center;
    gap:15px;
}

.buttons{
    margin-top:20px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#007bff;
    color:white;
    margin-right:10px;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:25px;
}

table th,
table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

table th{
    background:#007bff;
    color:white;
}

.action-btn{
    border:none;
    background:none;
    font-size:20px;
    cursor:pointer;
    margin:0 5px;
}

.action-btn:hover{
    transform:scale(1.2);
}

.edit-icon{
    color:green;
}

.delete-icon{
    color:red;
}

.table-container{
    height: 300px;       /* Fixed height */
    overflow-y: auto;    /* Vertical scroll */
    overflow-x: auto;    /* Horizontal scroll if needed */
    margin-top: 20px;
}
